<h1>Receitas</h1>



<% @recipes.each do |recipe| %>
<article>
    <header>
    <h1><%= recipe.name %></h1>
    </header>
    <p>
       <%= recipe.stuff %>
    </p>
      <p>
       <%= recipe.calories %>
    </p>

    <table>
    <tr>
        <th>Modo de preparo</th>
        <th><%= recipe.prepare_mode %>
    </tr>
        <th>Custo do prato</th>
            <td><%= number_to_currency(recipe.cost) %></td>
     </tr>        
    </table>
    </article>
<% end %>
   
